*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

p{
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
}

body{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: black;
    color: #FFFFFF;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
}

.container{
    max-width: 1348px;
    padding-top: 12px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    max-height: 107px;
    margin: 0 auto;
}

.logo{
    padding: 27px 0px 18px 33px;
}

.menu{
    margin: 39px 227px 39px 227px;
}

.menu__list{
    display: flex;
}

.menu-btn {
    display: none;
}

.menu__item + .menu__item{
    
    color: #FFFFFF

}

.menu__link{
    padding: 43px 20px;
    transition: all 0.3s;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.menu__link:hover{
    color: #D3F332;
    text-decoration: underline;
}

.translate{
    margin: 47px 36px 31px 0px;
    width: 92px;
    height: 29px
}

.translate__list{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 29px;
}

.translate__item{
    transition: all 0.3s;
    color: #FFFFFF;
    
}

.translate__link:hover{
    color: #D3F332;
}

.translate__link:active {
    color: #00ff00;
}



  

.main{
    max-width: 1172px;
    margin: 0 auto;
    padding-top: 57px;
    /* padding-bottom: 69px; */
}

.main__inner{
    max-width: 535px
}

.main__title{
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    margin: 74px 0 50px 5px;
}

.main__desc{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.main__check{
    display: flex;
    background: #D3F332;
    width: 228px;
    height: 49px;
    align-items: center;
}

.main__check:hover{
    cursor: pointer;
}

.main__check-img{
    margin: 11px 8px 11px 11px
}

.main__check-desc{
    font-weight: 276;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
}

.check__wrapper{
    display: flex;
    justify-content: space-between
}




.about__wrapper_one,
.about__wrapper_two,
.main__desc {
  opacity: 0;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

.about__wrapper{
    display: flex;
    margin-left: 61px
}

.about__wrapper_one{
    font-weight: 449;
    font-size: 28px;
    line-height: 34px;
    margin-right: 29px;
    width: 554px;
    
}

.about__wrapper_two{
    font-weight: 449;
    font-size: 28px;
    line-height: 34px;
    width: 517px;
    
}

.wrapper__item{
    color: #D3F332
}

.about__title{
    margin-bottom: 76px
}





.our_services_1{
    marging-bottom: 42px
}

.services__title{
    max-width: 427px;
    margin-bottom: 112px
}

.swiper-slide {
    width: 347px;
    height: 450px;
    border: 1px solid #B1B1B1;
}

.title__wrapper {
    height: 168px;
}

.blog__item-title {
    font-weight: 880;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    padding: 108px 101px 0 17px;
}

.blog__item {
    position: relative;
}
  
.blog__item-img {
    position: absolute;
    bottom: 168px;
    left: 17px;
    width: 221px;
    height: 16px;
}

.container__slider {
    display: flex;
    align-items: center;
}

.swiper-wrapper {
    max-width: 1100px;
}

.title__marketing{
    white-space: nowrap;
}

.blog__slider {
    position: relative;
}

.blog__button {
    cursor: pointer; 
}
.blog__button:active {
    transform: scale(0.9);
}

.blog__item-link {
    position: absolute;
    bottom: 111px;
    left: 169px;
    color: #D3F332;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
}

.blog__item-more{
    margin: 0 50px 111px 169px;  
}




.cases_1{
    margin-bottom: 243px
}

.cases__title{
    margin-bottom: 35px;
}


.my-slide {
    width: 147px;
}

.my-slide:nth-child(3) {
    width: 230px;
}
  
.active-slide {
    width: 703px;
}
  
.cases__swiper-wrapper{
    display: flex;
}
.cases__swiper-slide{
    min-width: 147px;
    height: 393px;
    position: relative;
    transition: width 0.5s ease;
}
.cases__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cases__video-iframe {
  width: 100%;
  height: 100%;
}
.cases__swiper-slide:nth-child(1) {
    margin-right: 79px;
}
  
.cases__swiper-slide:nth-child(2) {
    margin-right: 30px;
}
  
.cases__swiper-slide:nth-child(3) {
    margin-right: 12px;
}
  
.slide__year {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 35px;
}
  
.cases__btn{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none; 
    padding: 0; 
}

.cases__btn:active {
    transform: scale(0.9);
}

.cases__first .cases__btn {
    bottom: 35px;
    left: 29px;
}
  
.cases__two .cases__btn {
    bottom: 31px;
    left: 18px;
}
  
.cases__three .cases__btn {
    bottom: 31px;
    left: 9px;
}
  
.cases__four .cases__btn {
    bottom: 31px;
    left: 18px;
}

.cases__first{
    background: #D3F332;
    width: 100%;
    height: 100%;
    margin-right: 79px;
}

.cases__two{
    background: #F5544B;
    width: 100%;
    height: 100%;
    box-shadow: -80px 2px 47px 23px #000000;
    margin-right: 30px;
}

.cases__three{
    background: #2844E6;
    width: 100%;
    height: 100%;
    box-shadow: -80px 2px 47px 23px #000000;
    margin-right: 12px;
}

.cases__four{
    background: #595CD4;
    width: 100%;
    height: 100%;
    box-shadow: -80px 2px 47px 23px #000000;
}



@media (max-width: 1400px) {
    .menu{
        margin: auto;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}


@media (max-width: 1300px) {
    .container{
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .main{
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 57px;
        padding-bottom: 69px;
    }

    .blog__item-title{
        font-size: 24px
    }
}


@media (max-width: 1200px) {
    .header__inner{
        max-width: 1200px;
    }
    
    .container{
        max-width: 900px;
        margin: 0 auto;
    }

    .main{
        max-width: 900px;
        margin: 0 auto;
        padding-top: 57px;
        padding-bottom: 69px;
    }

    .blog__item-title{
        font-size: 24px
    }

    .blog__item-img {
        position: absolute;
        bottom: 120px;
        left: 17px;
        width: 221px;
        height: 16px;
    }
    
    .blog__item-link {
        position: absolute;
        bottom: 66px;
        left: 90px;
        color: #D3F332;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .my-slide {
        width: 120px;
    }
    
    .my-slide:nth-child(3) {
        width: 120px;
    }
      
    .active-slide {
        width: 703px;
    }
      
    .cases__swiper-wrapper{
        display: flex;
    }

    .cases__swiper-slide{
        min-width: 120px;
        height: 393px;
        position: relative;
    }
    
    .cases__swiper-slide:nth-child(1) {
        margin-right: 10px;
    }
      
    .cases__swiper-slide:nth-child(2) {
        margin-right: 10px;
    }
      
    .cases__swiper-slide:nth-child(3) {
        margin-right: 10px;
    }

    .cases__two{
        box-shadow: -30px 2px 47px 23px #000000;
    }
    
    .cases__three{
        box-shadow: -30px 2px 47px 23px #000000;
    }
    
    .cases__four{
        box-shadow: -30px 2px 47px 23px #000000;
    }

    .slide__year {
        font-size: 16px;
    }

    
}

@media (max-width: 1024px) {
    .section {
      height: auto; 
    }
  }

@media (max-width: 1000px) {
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 30px
    }

    .menu__link{
        padding: 5px 5px;
        margin-right: 10px
        
    }
      
    .menu__item {
        margin-bottom: 10px; 
    }

    .header__inner{
        max-height: 300px;
    }

    .container{
        max-width: 750px;
        margin: 0 auto;
    }

    .main{
        max-width: 750px;
        margin: 0 auto;
        padding-top: 57px;
        padding-bottom: 69px;
    }

    .about__wrapper{
        margin: 0 auto;
    }

    .blog__item-title{
        font-size: 20px
    }

    .blog__item-img {
        position: absolute;
        bottom: 120px;
        left: 26px;
        width: 150px;
        height: 16px;
    }
    
    .blog__item-link {
        position: absolute;
        bottom: 26px;
        left: 45px;
        color: #D3F332;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .my-slide {
        width: 100px;
    }
    
    .my-slide:nth-child(3) {
        width: 100px;
    }
      
    .active-slide {
        width: 703px;
    }
      
    .cases__swiper-wrapper{
        display: flex;
    }
    .cases__swiper-slide{
        min-width: 100px;
        height: 393px;
        position: relative;
    }
    
    .cases__swiper-slide:nth-child(1) {
        margin-right: 10px;
    }
      
    .cases__swiper-slide:nth-child(2) {
        margin-right: 10px;
    }
      
    .cases__swiper-slide:nth-child(3) {
        margin-right: 10px;
    }

    .cases__two{
        box-shadow: -15px 2px 47px 23px #000000;
    }
    
    .cases__three{
        box-shadow: -15px 2px 47px 23px #000000;
    }
    
    .cases__four{
        box-shadow: -15px 2px 47px 23px #000000;
    }

    .cases__first .cases__btn {
        bottom: 35px;
        left: 10px;
    }

    .cases__two .cases__btn {
        bottom: 35px;
        left: 10px;
    }

    .slide__year {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 25px;
    }
}
@media (max-width: 890px) {
    .menu__link {
        font-size: 16px
    }
    
    .main__title {
        font-size: 52px;
    line-height: 68px;
    }

    .main__desc {
        font-size: 30px;
        line-height: 40px;
    }


    .about__wrapper_one .about__wrapper_two{
        font-size: 25px;
        line-height: 32px;
    }

    h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 63px;
    }


    .menu__item {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .container{
        max-width: 600px;
        margin: 0 auto;
    }

    .main{
        display: flex;
        justify-content: center;
        padding-top: 57px;
        padding-bottom: 69px;
    }

    .blog__item-title{
        font-size: 15px;
        
    }

    .blog__item-img {
        position: absolute;
        bottom: 120px;
        left: 16px;
        width: 120px;
        height: 16px;
    }
    
    .blog__item-link {
        position: absolute;
        bottom: 26px;
        left: 35px;
        color: #D3F332;
        font-size: 15px;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .slide__year {
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 22px;
    }

    .cases__first .cases__btn {
        bottom: 35px;
        left: 10px;
    }

    .cases__two .cases__btn {
        bottom: 35px;
        left: 10px;
    }

    .cases__three .cases__btn {
        bottom: 35px;
        left: 10px;
    }

    .cases__four .cases__btn {
        bottom: 35px;
        left: 10px;
    }
}

@media (max-width: 740px){
    .about__wrapper_one .about__wrapper_two{
        font-size: 20px;
        line-height: 25px;
    }
    .translate{
        width: auto;
    }
    .translate__list{
        justify-content: flex-end;
        font-size: 16px
    }
    .menu__link {
        font-size: 36px
        
    }
    .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }
    .logo,
    .translate {
        position: relative;
        z-index: 50;
    }
    .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .3s ease;
    }
    .btn-line:nth-child(1){
        top: 0;
    }
    .btn-line:nth-child(2){
        top: 20px;
    }
    .btn-line:nth-child(3){
        top: 20px;
    }
    .btn-line:nth-child(4){
        top: 40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scaleX(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scaleX(0);
    }
    
    .menu__list{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #0A0A0A;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
        margin-left: 0px;
        margin-top: 0px;
        gap: 20px
    }
    .menu-open .menu__list{
        transform: translateY(0%);
    }
    .menu-item{
        padding: 50px 0;
        font-size: 57px;
    }
    .images-new{
        display: none;
    }
    .new-text p,
    .new-text b {
       max-width: 100%; 
    }
   
}

@media (max-width: 650px) {
   
    .main__title {
        font-size: 44px;
        line-height: 60px;
    }

    .main__desc {
        font-size: 22px;
        line-height: 37px;
    }

    .translate__list{
        justify-content: flex-end;
        font-size: 16px
    }

    

    h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 63px;
    }

    .container{
        max-width: 500px;
        margin: 0 auto;
    }

    .main__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding-right: 50px;
        padding-left: 50px;
    }

    .main__title{
        font-size: 50px
    }

    .main__item {
        margin-top: 20px;
    }

    .check__wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .main__check{
        margin: 0 auto;
    }

    .blog__item-title{
        font-size: 20px;
        
    }

    .blog__item-img {
        position: absolute;
        bottom: 120px;
        left: 20px;
        width: 150px;
        height: 16px;
    }
    
    .blog__item-link {
        position: absolute;
        bottom: 26px;
        left: 68px;
        color: #D3F332;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .my-slide {
        width: 80px;
    }
    
    .my-slide:nth-child(3) {
        width: 80px;
    }
      
    .active-slide {
        width: 703px;
    }

    .cases__btn-img {
        width: 50px; 
        height: auto; 
    }
    .cases__swiper-slide{
        min-width: 80px;
        height: 393px;
        position: relative;
    }

    .cases__two{
        box-shadow: -5px 2px 47px 23px #000000;
    }
    
    .cases__three{
        box-shadow: -5px 2px 47px 23px #000000;
    }
    
    .cases__four{
        box-shadow: -5px 2px 47px 23px #000000;
    }
      
}

@media (max-width: 550px) {
    .container{
        max-width: 380px;
        margin: 0 auto;
    }

    .about__wrapper{
        flex-direction: column;
        gap: 20px;
        padding-right: 30px;
        padding-left: 30px;
        margin: 0
    }

    .about__wrapper_one{
        width: 100%
    }

    .about__wrapper_two{
        width: 100%
    }

    .main__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding-right: 50px;
        padding-left: 50px;
    }
      
    .main__title{
        font-size: 50px
    }
      
    .main__item {
        margin-top: 20px;
    }
      
    .check__wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
      
    .main__check{
        margin: 0 auto;
    }
      
    .blog__item-title{
        font-size: 30px;
        
    }

    .blog__item-img {
        position: absolute;
        bottom: 120px;
        left: 20px;
        width: 250px;
        height: 16px;
    }
    
    .blog__item-link {
        position: absolute;
        bottom: 26px;
        left: 128px;
        color: #D3F332;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .my-slide {
        width: 70px;
    }
    
    .my-slide:nth-child(3) {
        width: 70px;
    }
      
    .active-slide {
        width: 703px;
    }
    .cases__btn-img {
        width: 50px; 
        height: auto; 
    }
    .cases__swiper-slide{
        min-width: 70px;
        height: 393px;
        position: relative;
    }

    .cases__swiper-slide:nth-child(1) {
        margin-right: 3px;
    }
      
    .cases__swiper-slide:nth-child(2) {
        margin-right: 3px;
    }
      
    .cases__swiper-slide:nth-child(3) {
        margin-right: 3px;
    }

    .slide__year {
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 25px;
    }
      
}
  
@media (max-width: 400px) {
    h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 53px;
    }

    .about__wrapper_one .about__wrapper_two{
        font-size: 15px;
        line-height: 25px;
    }

    .container{
        max-width: 330px;
        margin: 0 auto;
    }

    .main__inner {
        text-align: center;
        margin-right: 40px;
        margin-left: 40px
    }
      
    .main__item {
        margin-top: 20px;
    }

    .main__title{
        font-size: 35px;
        line-height: 50px;
    }

    .check__wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }

    .blog__item-title{
        font-size: 18px;
        
    }

    .blog__item-img {
        position: absolute;
        bottom: 120px;
        left: 20px;
        width: 195px;
        height: 16px;
    }
    
    .blog__item-link {
        position: absolute;
        bottom: 26px;
        left: 108px;
        color: #D3F332;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
    }

    .my-slide {
        width: 40px;
    }
    
    .my-slide:nth-child(3) {
        width: 40px;
    }
      
    .active-slide {
        width: 703px;
    }

    .cases__btn-img {
        width: 40px; 
        height: auto; 
    }

    .cases__swiper-slide{
        min-width: 40px;
        height: 393px;
        position: relative;
    }

    .cases__swiper-slide:nth-child(1) {
        margin-right: 3px;
    }
      
    .cases__swiper-slide:nth-child(2) {
        margin-right: 3px;
    }
      
    .cases__swiper-slide:nth-child(3) {
        margin-right: 3px;
    }

    .slide__year {
        font-weight: 300;
        font-size: 7px;
        line-height: 12px;
        color: #FFFFFF;
        margin-top: 25px;
    }

    .cases__first .cases__btn {
        bottom: 25px;
        left: 5px;
    }

    .cases__two .cases__btn {
        bottom: 25px;
        left: 5px;
    }

    .cases__three .cases__btn {
        bottom: 25px;
        left: 5px;
    }

    .cases__four .cases__btn {
        bottom: 25px;
        left: 5px;
    }

    .cases__btn-img {
        width: 30px; 
        height: auto; 
    }
}
  

  

